/* button a {
  text-decoration: none;
  margin-top: 0px;
} */

nav {
  background-color: blueviolet;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav a {
  color: white;
  text-decoration: none;
}

/* .home {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */ 

